*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

img {
  display: block;
  width: 100%;
  max-width: 1500px;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

section {
  margin: 5rem 2rem;
}

/* Navigation Styles */

header {
  background-color: black;
}

.main-nav {
  height: 90px;

}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
        z-index: 1;

}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: black;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: black;
  }
}

/* Section One */

.section-one {
  margin: 11rem 2rem 0;
    font-family: Arial;
color:white;
}

.header {
  font-size: 4.5rem;
}

.section-one-paragraph {
  margin: 2rem 0;
  width: 70%;
  max-width: 500px;
  line-height: 1.5rem;
    font-family: Arial;

}


.learn-more-btn {
  background: white;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: .8rem;
  text-decoration: none;
  color: black;
      font-family: Arial;

}

.learn-more-btn:hover {
  background: #6c83ff;
  color: white;
}

/* Section Two */

/* Section Three */

.section-three h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

/* Section Four */

.flex-group {
  display: flex;
  justify-content: ;
  align-items: center;
  gap: 3rem;
}

.section-four p {
  margin-bottom: 2rem;
}

.section-four-btn {
  margin-bottom: rem;
}

/* Section Five */

.section-five-flex-group {
  flex-direction: row-reverse;
}

.section-five p {
  margin-bottom: 2rem;
}

/* Section Six */

.section-six p {
  margin-bottom: 2rem;
}

/* Flex Group Mobile */

@media (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
}

/* Section Seven */

.section-seven h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-seven-btn {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 7.5rem;
}

/* Section Eight */

.section-eight h4 {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.section-eight p {
  line-height: 1.5rem;
}

.section-eight img {
  
}

.flex-group-eight {
  display: flex;
  gap: 2rem;
}

@media (max-width: 800px) {
  .flex-group-eight {
    flex-direction: column;
  }
}

/* Section Nine */

.section-nine {
  margin-top: 15rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.section-nine svg {
  fill: white;
  height: 50px;
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.section-nine svg:hover {
  transform: translateY(-10px);
  fill: #ffa98e;
}


/* Section Ten */

.section-ten h3 {
  margin: 15rem auto 2rem;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-ten-btn {
  text-align: center;
  display: flex;  
  justify-content: center;
  margin: 0 auto;
  width: 7.5rem;
}






