body{
  background-color: #1D1D1D;
}
.parent {
    width:700px;
    height:200px;
    text-align:center;
     display: block;
      margin-left: auto;
      margin-right: auto;
          font-family: 'Roboto';

}
#kid {
    width:110%; /* 70% of the parent*/
    margin:10px auto;
    color:white;
    font-size:20px;
    font-family: 'Roboto';

}

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-top: 55px;
    overflow-x: hidden;

}
.Column {
    display: table-cell;
    background-color: white; /*Optional*/
font-family: 'Roboto';
    font-size:25px;
    border-radius: 10px;

}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    cursor:pointer;
}
.logout {
    position: fixed;
    width:100px;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    margin: 5px;
    background-color: white;
    color: white;
}