body{
background:#212529;
}

.header{
text-align: center;
color:white;


}
.wallet {
      background: #495057;
      width: 300px;
      color: White;
      height: 18px;
      margin: auto;
      width: 45%;
      height: 80px;
      font-family: 'Trebuchet MS', sans-serif;
      padding: 10px;
      border-radius: 25px;
}