body{
  background-color: #1D1D1D;
}
.header{
color:white;
text-align:center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    cursor:pointer;
}
.logout {
 position: fixed;
     width: 77px;
     border-radius: 10px;
     top: 10px;
     right: 10px;
     margin: 5px;
     background-color: white;
     color: white;
     height: 23px;
     text-align: center;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
 align-items: center;
  justify-content: center;
  color:white;

}

.container > div {
   font-size:15px;
   text-align:center;
  background: #5390d9;
  margin: 15px;
  width: calc(100% / 4);
  padding: 10px;
  flex-direction: column;
}
