<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/transaction.css}"/>
    <script src="http://localhost:35729/livereload.js"></script>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<nav>
    <a th:href="@{/api/test/homePage}">Home</a>
    <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
    <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
</nav>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Create new expense transaction</h2>
                <form action="/"
                      th:action="@{/api/transaction/saveExpense/{walletId} (walletId=${walletId})}"
                      th:object="${transaction}" method="post">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label for="amount" class="label">Amount</label>
                                <input class="input--style-4" type="text" th:field="*{amount}" id="amount">
                                <span
                                        th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                        class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label for="note" class="label">Note</label>
                                <input class="input--style-4" type="text" th:field="*{note}" id="note">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label for="theDate" class="label">Date</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" type="date" th:field="*{date}"
                                           id="theDate">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Category</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select th:field="${transaction.expenseCategories}">
                                    <option value="0">Select expense category</option>
                                    <option
                                            th:each="expenseCategories : ${expenseCategories}"
                                            th:value="${expenseCategories}"
                                            th:text="${expenseCategories.displayName}"
                                    ></option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="submit" type="submit">Submit</button>
                    </div>
                </form>
                <form action="#" th:action="@{/api/transaction/incomeTransaction/{walletId}(walletId=${walletId})}" th:object="${wallet}"
                      method="GET">
                    <button type="submit" class="submit">Switch to income transaction</button>
                </form>
                <form action="#" th:action="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}" th:object="${wallet}"
                      method="GET">
                    <button type="submit" class="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/transaction.js}"></script>

</body>
</html>