<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta name="viewport" content="width=device-width"/>

    <title>Title</title>

</head>
<body>

<h1> Welcome, <span th:text="${#authentication.getPrincipal().getFirstName()}"></span> <span>👋</span></h1>

<div id="wrap-wallets">
    <div id="inside-wallets">
        <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">WALLETS</a>
    </div>
</div>


<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

<div id="wrap-logout">
    <div id="inside-logout">
        <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
    </div>
</div>


</body>
</html>