<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta name="viewport" content="width=device-width"/>

    <title>Title</title>

</head>
<body>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>


<div class="parent">
    <div id="kid">
        <h1> Welcome to Spender, <span th:text="${#authentication.getPrincipal().getFirstName()}"></span> <span>👋</span>
        </h1>
        <p>Save money effortlessly. Spender is a free budgeting application. Seeing all your financial habits
            enables
            you to stick to your goals and be organized in what’s important.</p>

        <div class="Row">
            <div class="Column">
                <a id="wallets" th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
            </div>
            <div class="Column">
                <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Transactions</a>
            </div>
        </div>
        <div class="logout">
            <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
        </div>
    </div>
</div>


</body>
</html>