<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta name="viewport" content="width=device-width"/>

    <title>Title</title>

</head>
<body>
<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<header>
    <h1 class="logo">Spender</h1>
    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
        <ul>
            <li> <a id="wallets" th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a></li>
            <li> <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Transactions</a></li>
            <li> <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>


<section class="section-one">
    <h2 class="header">Earn. Save. Spend</h2>
    <p class="section-one-paragraph">Save money effortlessly. Spender is a free budgeting application. Seeing all your financial habits
        enables
        you to stick to your goals and be organized in what’s important.</p>
    <a class="learn-more-btn" th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
    <a class="learn-more-btn" th:href="@{/api/wallet/showNewWalletForm}">New wallet</a>
</section>




</body>
</html>