<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userProfile.css}"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<form action="#" id="Income" class="hidden" th:action="@{/api/transaction/saveIncome/{walletId} (walletId=${id})}"
      th:object="${transaction}" method="POST">

    <label for="amountIncome" class="col-form-label">Amount</label> <input
        type="text" th:field="*{amount}" class="form-control"
        id="amountIncome" placeholder="amount"> <span
        th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
        class="text-danger"></span>
    <input type="text" th:field="*{note}" placeholder="Enter note" class="form-control mb-4 col-4">
    <input type="date" th:field="*{date}" class="form-control mb-4 col-4">

    <select th:field="${transaction.incomeCategories}">
        <option value="0">Select income category</option>
        <option
                th:each="incomeCategories : ${incomeCategories}"
                th:value="${incomeCategories}"
                th:text="${incomeCategories.displayName}"
        ></option>
    </select>
    <button type="submit" class="btn btn-info col-2"> Save Wallet</button>
</form>
</body>
</html>