<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <form action="#" th:action="@{/api/transaction/saveTransaction/{walletId} (walletId=${id})}"
          th:object="${transaction}" method="POST">
        <input type="text" th:field="*{amount}" placeholder="Enter amount" class="form-control mb-4 col-4">

        <input type="text" th:field="*{note}" placeholder="Enter note" class="form-control mb-4 col-4">
        <input type="date" th:field="*{date}" class="form-control mb-4 col-4">
        <!-- <select th:field="*{category}" class="form-control" id="dropOperator">
             <option value="0">Select category</option>
             <option th:each="categories : ${categories}" th:value="${categories.id}"
                     th:text="${categories.name}"></option>
         </select>-->
        <select th:field="${transaction.transactionType}">
            <option
                    th:each="transactionType : ${transactionType}"
                    th:value="${transactionType}"
                    th:text="${transactionType.displayName}"
            ></option>
        </select>

        <select th:field="${transaction.expenseCategories}">
            <option value="0">Select expense category</option>
            <option
                    th:each="expenseCategories : ${expenseCategories}"
                    th:value="${expenseCategories}"
                    th:text="${expenseCategories.displayName}"
            ></option>
        </select>

        <select th:field="${transaction.incomeCategories}">
            <option value="0">Select income category</option>
            <option
                    th:each="incomeCategories : ${incomeCategories}"
                    th:value="${incomeCategories}"
                    th:text="${incomeCategories.displayName}"
            ></option>
        </select>
        <button type="submit" class="btn btn-info col-2"> Save Wallet</button>
    </form>

    <hr>

    <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
</div>
</body>
</html>