<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/transaction.css}"/>

</head>
<body>


<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <select id="payment_type" name="payment_type">
        <option>Select a payment type...</option>
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
    </select>


    <form action="#" id="Expense" class="hidden" th:action="@{/api/transaction/saveExpense/{walletId} (walletId=${id})}"
          th:object="${transaction}" method="POST">
        <label for="amount" class="col-form-label">Amount</label> <input
            type="text" th:field="*{amount}" class="form-control"
            id="amount" placeholder="amount"> <span
            th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
            class="text-danger"></span>
        <input type="text" th:field="*{note}" placeholder="Enter note" class="form-control mb-4 col-4">
        <input type="date" th:field="*{date}" class="form-control mb-4 col-4">

        <select th:field="${transaction.expenseCategories}">
            <option value="0">Select expense category</option>
            <option
                    th:each="expenseCategories : ${expenseCategories}"
                    th:value="${expenseCategories}"
                    th:text="${expenseCategories.displayName}"
            ></option>
        </select>

        <button type="submit" class="btn btn-info col-2"> Save Wallet</button>

    </form>

    <form action="#" id="Income" class="hidden" th:action="@{/api/transaction/saveIncome/{walletId} (walletId=${id})}"
          th:object="${transaction}" method="POST">

        <label for="amountIncome" class="col-form-label">Amount</label> <input
            type="text" th:field="*{amount}" class="form-control"
            id="amountIncome" placeholder="amount"> <span
            th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
            class="text-danger"></span>
        <input type="text" th:field="*{note}" placeholder="Enter note" class="form-control mb-4 col-4">
        <input type="date" th:field="*{date}" class="form-control mb-4 col-4">

        <select th:field="${transaction.incomeCategories}">
            <option value="0">Select income category</option>
            <option
                    th:each="incomeCategories : ${incomeCategories}"
                    th:value="${incomeCategories}"
                    th:text="${incomeCategories.displayName}"
            ></option>
        </select>
        <button type="submit" class="btn btn-info col-2"> Save Wallet</button>
    </form>

    <hr>

    <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/transaction.js"></script>


</body>
</html>