<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userProfile.css}"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://kit.fontawesome.com/9ab80cc16b.js" crossorigin="anonymous"></script>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>

<header>
    <h1 class="logo">Spender</h1>
    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
        <ul>
            <li> <a th:href="@{/api/test/homePage}">Homepage</a></li>
            <li> <a th:href="@{/api/transaction/userTransactions/{userId} (userId=${userId})}">Transactions</a></li>
            <li><a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <div th:each="transactions : ${transactions}">
        <h2>Amount:<span th:text="${transactions.amount}"></span></h2>
        <br>
        <h2>Note:<span th:text="${transactions.note}"></span></h2>
        <br>
        <h2>Date:<span th:text="${transactions.date}"></span></h2>
        <br>
        <h2>Expense Category:<span th:text="${transactions.expenseCategories}"></span></h2>
        <br>
        <h2>IncomeCategory:<span th:text="${transactions.incomeCategories}"></span></h2>
    </div>
</div>


<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>


</body>

</html>