<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/transaction.css}"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://kit.fontawesome.com/9ab80cc16b.js" crossorigin="anonymous"></script>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>

<header>
    <h1 class="logo">Spender</h1>
    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
        <ul>
            <li><a th:href="@{/api/test/homePage}">Homepage</a></li>
            <li><a id="wallets" th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a></li>
            <li><a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>

<div class="transaction-group" th:each="singleGroup  : ${transactionGroup}">
    <div class="date-balance">
        <h1 id="left" th:text="${singleGroup .date}"></h1>
        <h2 id="right">Balance <span th:text="${singleGroup .monthBalance}"></span></h2>
    </div>
    <div class="single-transaction" th:each="singleTrans  : ${singleGroup.transactions}">
        <div th:if="${singleTrans.expenseCategories}">
            <h2 id="rightBalance" style="color:red" th:text="${singleTrans.amount}"></h2>
        </div>
        <div th:unless="${singleTrans.expenseCategories}">
            <h2 id="rightBalance1" style="color:green" th:text="${singleTrans.amount}"></h2>
        </div>

        <h2 th:text="${singleTrans.walletName}"></h2>
        <h2 th:text="${singleTrans.note}"></h2>
        <h2 th:text="${singleTrans.expenseCategories}"></h2>
        <h2 th:text="${singleTrans.incomeCategories}"></h2>
        <a class="card__link" th:href="@{/api/transaction/delete/{id}(id=${singleTrans.id})}"
           th:data-confirm-delete="|Are you sure you want to delete ${singleTrans.walletName} wallet?|"
           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
        <a class="card__link" th:href="@{/api/transaction/showFormForUpdate/{id}(id=${singleTrans.id})}">Update</a>
        <hr>
    </div>
</div>

<div style="text-align:center"
     th:if="${#lists.isEmpty(transactionGroup)}"><h1>You don't have any transaction</h1>
    <a th:href="@{/api/wallet/userWallet/balance/{userId} (userId=${userId})}">Wallets</a>
</div>

<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

</body>
</html>