<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Update Employee</h2>

    <form action="#" th:action="@{/api/wallet/saveWallet}" th:object="${wallet}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{user}"/>


        <!-- Add hidden form field to handle update -->
        <input type="text" th:field="*{walletName}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{initialBalance}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Wallet</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Employee List</a>
</div>
</body>
</html>