<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userProfile.css}"/>

</head>
<body>

<div class="header">
    <h1>Currency Balance</h1>
</div>

<div th:each="wallet : ${wallet}">
    <div class="wallet">
        <p th:text="${wallet.walletName}"></p>
        <p th:text="${wallet.initialBalance}"></p>
    </div>
    <br>
</div>
</body>
</html>