<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userProfile.css}"/>

</head>
<body>


<h1 th:text="${#authentication.getPrincipal().getUsername()}"/>
    <span th:text="${#authentication.getPrincipal().getEmail()}"></span>


    <table class="table table-striped table-hover" id="productTable">
        <thead>
        <tr class="success">
            <th>Wallet Name</th>
            <th>Initial Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wallet : ${wallet}">
            <td th:text="${wallet.walletName}"></td>
            <br>
            <td th:text="${wallet.initialBalance}"></td>
            <td>
                <form th:action="@{/api/wallet/delete/{id}(id=${wallet.id})}" th:object="${wallet}" method="post">
                    <input type="hidden" th:field="${wallet}">Delete</input>
                    <button type="submit" onClick="return confirm('sure?')"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>