<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userProfile.css}"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://kit.fontawesome.com/9ab80cc16b.js" crossorigin="anonymous"></script>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>

<div class="header" th:each="wallets : ${wallets}">
    <h1>Your net worth is <span th:text="${wallets.totalBalance}"></span></h1>
    <h1><a style="color: white" th:href="@{/api/wallet/showNewWalletForm}"> New Wallet</a></h1>
    <h1><a style="color: white" th:href="@{/api/test/homePage}">Homepage</a></h1>
</div>


<div class="container">
    <div th:each="wallet : ${wallet}">
        <h1> Wallet name <span th:text="${wallet.walletName}"></span></h1>
        <h1> Wallet balance <span th:text="${wallet.initialBalance}"></span></h1>
        <a title="Edit transaction" class="fa-solid fa-file-pen" style="color: white; font-size:30px; padding:10px;"
           th:href="@{/api/wallet/showFormForUpdate/{id}(id=${wallet.id})}"></a>

        <a title="Delete wallet" class="fa-solid fa-trash" style="color: white; font-size:30px; padding:10px;"
           th:href="@{/api/wallet/delete/{id}(id=${wallet.id})}"></a>

        <a title="Income transaction" class="fa-solid fa-piggy-bank" style="color: white; font-size:30px; padding:10px;"
           th:href="@{/api/transaction/incomeTransaction/{walletId}(walletId=${wallet.id})}"></a>

        <a title="Expense transaction" class="fa-solid fa-cart-shopping"
           style="color: white; font-size:30px; padding:10px;"
           th:href="@{/api/transaction/expenseTransaction/{walletId}(walletId=${wallet.id})}"></a>
    </div>

</div>
<div class="logout">
    <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
</div>


<form name="logoutForm" th:action="@{/api/auth/signout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>


</body>

</html>